body{
  background-color: rgb(80, 101, 107);
}
#caveBackGrd {
  background-image: url(cave.jpg);
  font-family:'Courier New', Courier, monospace;
  text-align: center;
  color: whitesmoke;
}
#reset:hover {
	background-color:teal;
    border-color: black;
}
#resetBut {
  text-align: center;
}
#message {
	text-align: center;
	color: rgb(236, 188, 29);
  font-family: cursive;
}
button:hover {
  background-color:teal;
	border-color: black;
}
#randomNum {
    border: 15px;
    font-size: 15px;

}
#scoreSec{
    color: azure;
}
#winLose{
    color: azure;
}
#ranNumSec{
    color: azure;
}